# Dependencies
node_modules/

# Environment variables
.env

# Build files
dist/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Coverage
coverage/

# Temporary files
*.tmp
*.temp